@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin:0;
    background-color: whitesmoke;
}

#hero-image {
    height:50vh;
    width:100%;
    background:url('../images/hero-image.jpg') center 75% / cover no-repeat;
}

.front-image {
    height:500px;
    width:100%;
    background:url('../images/hero-image.jpg');
}

header {
    font-size: 3.5rem;
    text-align: center;
    color:rgb(252, 251, 250);
}

h1 {
    font-family: 'EB Garamond', sans-serif;
    margin:0;
}

#primary-navigation {
    font-size:1.25rem;
    background-color:none;
    z-index:1;
    position:fixed;
    top:0;
    right:0;
}

nav a:hover {
    color:rgb(174, 4, 35);
}

#reasons {
    text-align: center;
    background:red;
    padding: 5px;
    border-radius:10px;
    width:50%;
    background-position: center;
    margin:25px auto 5px;
    line-height: normal;
}

#reasons-header {
    margin:10px;
    padding:0;
}

#menu {
    text-align:center;
    color:black;
    font-style:'EB Garamond',sans-serif;
    font-size: x-large;
}

section h2 {
    font-size:3rem;
    text-align: center;
    font-weight: 800;
    line-height: 200px;
}

#menu h3 {
    font-size:1.5rem;
}

#starters {
    height:1000px;
}

#left-starter-pictures{
    width:33%;
    float:left;
    background-color: green;
    line-height: 150px;

}

#spring-rolls {
    position: relative;
}

#ribs {
    position: relative;
    z-index: 1;
}

#gyoza {
    position: relative;

    z-index: 1;
}

#crispy-wontons {
    position: relative;
    right:15px;
    
}

#right-starter-pictures{
    width:33%;
    float:right;
    background-color: blue;
    line-height: 150px;
    padding-top: 150px;

}

#starters-center {
    width:33%;
    margin:0 auto;
    display:inline;
    line-height: 40px;   
}

.starter-image {
    border-radius: 50%;
    padding:10px;
    margin:10px;
    background-color:gold;
    height:300px;
    width:300px;
}

br > em {
    line-height: 15px;
}

#main-course {
    display: inline;
}

#drinks {
    background: url('../images/koi-fish.jpg') fixed;
    height:1500px;
    color:whitesmoke;
    text-align: center;
    font-size: x-large;
}


ul {
    list-style: none;
    display: inline;
}

#contact {
    height:900px;
    font-size: x-large;
}

#opening-hours {
    background-color: green;
    width: 25%;
    text-align: center;
    padding:50px;
    margin:10px auto;
    position: relative;
    left:2%;
}

#table {
    background-color: yellow;
    position:absolute;
    top:50%;
    left:50%;
}

#address {
    background-color: red;
    width:25%;
    text-align: center;
    padding: 50px;
    margin: 10px auto;
    position:relative;
    right:20%;
}

#get-in-touch {
    background-color: blue;
    width: 25%;
    text-align: center;
    padding:50px;
    margin:10px auto;
    position: relative;
    left:20%;
    bottom:100px;
}

footer{
    text-align: center;
    background-color: gold;
    text-transform: uppercase;
    padding:15px 10px;
    line-height: 25px;
}

footer a:hover {
    color:red;
}

.grey {
    background-color: rgb(237, 237, 134);
}

.forms {
    margin:10px auto;
    width:800px;
    padding:25px;
    border-radius: 10px;
    background-color: white;
}

fieldset {
    border-style: none;
}

.line-height {
    line-height:30px;
}

legend {
    text-transform: uppercase;
    font-family:'EB Garamond', sans-serif;
    font-size:x-large;
    text-align: center;
    padding:15px 10px 0px;
    text-decoration: underline;
    font-weight: 550;
    margin:10px 0 15px;
}

#introduction {
    font-size: xx-large;
    padding:200px 0px 0px 0px;
}

.below-hero-image {
    text-align: center;
    font-size:1.25rem;
    background-color:none;
    padding:10px;
}

#address-line {
    margin:10px 0 5px;
    font-weight: 700;
}

.submit-button {
    border-radius: 10%;
    color:black;
    background-color: rgb(204, 235, 28);
    padding:15px;
    margin:25px 20px;
}

.reset-button {
    border-radius: 10%;
    color:white;
    background-color: rgb(227, 38, 28);
    float:right;
    margin:15px;
}

.reset-button-2 {
    border-radius: 10%;
    color:white;
    background-color: rgb(227, 38, 28);
    float: right;
    position: relative;
    bottom:20px;
}

#terms {
    height: 300px;
    width: 780px;
    overflow: scroll;
    border-style:dotted;
    padding:10px;
}

@media screen and (max-width:1200px) {
    
}

@media screen and (max-width: 500px;) {
    
}