@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    margin:0;
    background-color: rgb(247, 247, 134);
}

#hero-image {
    height:50vh;
    width:100%;
    background:url('../images/hero-image.jpg') center 75% / cover no-repeat;
}

.front-image {
    height:500px;
    width:100%;
    background:url('../images/hero-image.jpg');
}

header {
    font-size: 3.5rem;
    text-align: center;
    color:rgb(252, 251, 250);
}

header > p {
    font-size:2rem;
    padding:10px;
    color:white;
}

h1 {
    font-family: 'EB Garamond', sans-serif;
    margin:0;
}

#primary-navigation {
    font-size:1.25rem;
    background-color:none;
    z-index:2;
    position:fixed;
    top:0;
    right:0;
}

nav a:hover {
    color:rgb(174, 4, 35);
}

#reasons {
    text-align: center;
    background:red;
    padding: 0;
    border-radius:10px;
    width:50%;
    background-position: center;
    margin: 10px auto;
    line-height: normal;
}

#reasons-list {
    margin:0;
    padding:0;
    position: relative;
    bottom:50px;
    font-size: large;
}

#menu {
    text-align:center;
    color:black;
    font-style:'EB Garamond',sans-serif;
    font-size: x-large;
}

section h2 {
    font-size:3rem;
    text-align: center;
    font-weight: 800;
    padding:50px 0 100px;
    text-decoration: underline;
}

#menu h3 {
    font-size:2rem;
    font-weight: 600;
}

#starters {
    height:700px;
}

#left-starter-pictures{
    width:33%;
    float:left;
    line-height: 150px;

}

#spring-rolls {
    position: relative;
    right:50px;
    
}

#ribs {
    position: relative;
    left:130px;
    z-index: 1;
    bottom:300px;
}

#gyoza {
    position: relative;
    left:130px;
    z-index: 1;
    bottom:200px;
}

#crispy-wontons {
    position: relative;
    right:70px;
    
}

#right-starter-pictures{
    width:33%;
    float:right;
    padding-top: 150px;
}

#starters-center {
    width:33%;
    margin:0 auto;
    display:inline;
    line-height: 60px;   
}

.starter-image {
    border-radius: 50%;
    padding:10px;
    margin:10px;
    background-color:gold;
    height:300px;
    width:300px;
}

#main-course {
    display: inline;
    width:800px;
}

#main-course-images {
    width:70%;
    height:700px;
}

#dessert {
    line-height: 45px;
}

#ice-cream {
    height:200px;
    width:25%;
    position: relative;
    right:25%;
    bottom:200px;
}

#drinks {
    background: url('../images/koi-fish.jpg') fixed;
    height:1500px;
    color:whitesmoke;
    text-align: center;
    font-size: x-large;
    line-height: 35px;
}

#drinks h3 {
    font-size:2rem;
}

#white-wine {
    float:left;
    width:33%;
}

#red-wine {
    float:right;
    width:33%;
}

#wine {
    margin:45px;
}

ul {
    list-style: none;
    display: inline;
}

#contact {
    height:1000px;
    font-size: x-large;
}

#contact > h2 {
    margin:30px 0;
}

#opening-hours {
    background-color: white;
    width: 25%;
    text-align: center;
    padding:50px;
    margin:10px auto;
    position: relative;
    left:5%;
    bottom:5%;
    border-radius: 50%;
}

#table {
    background-color: white;
    position: relative;
    left:50px;
}

#address {
    background-color: white;
    width:25%;
    text-align: center;
    padding: 50px;
    margin: 10px auto;
    position:relative;
    right:20%;
    bottom:10%;
    border-radius: 50%;
}

#get-in-touch {
    background-color: white;
    width: 25%;
    text-align: center;
    padding:80px;
    margin:10px auto;
    position: relative;
    left:25%;
    bottom:300px;
    border-radius: 50%;
}

footer{
    text-align: center;
    background-color: whitesmoke;
    text-transform: uppercase;
    padding:0;
    line-height: 15px;
}

footer a:hover {
    color:red;
}

.grey {
    background-color: rgb(237, 237, 134);
}

.forms {
    margin:10px auto;
    width:800px;
    padding:25px;
    border-radius: 10px;
    background-color: white;
}

fieldset {
    border-style: none;
}

.line-height {
    line-height:30px;
}

legend {
    text-transform: uppercase;
    font-family:'EB Garamond', sans-serif;
    font-size:x-large;
    text-align: center;
    padding:15px 10px 0px;
    text-decoration: underline;
    font-weight: 550;
    margin:10px 0 15px;
}

#introduction {
    font-size: xx-large;
    padding:140px 0px 0px 0px;
}

.below-hero-image {
    text-align: center;
    font-size:1.25rem;
    background-color:none;
    padding:10px;
}

#address-line {
    margin:10px 0 5px;
    font-weight: 700;
}

#work-experience {
    width:100%;
    margin:10px auto;
}

.submit-button {
    border-radius: 10%;
    color:black;
    background-color: rgb(204, 235, 28);
    padding:15px;
    margin:25px 20px;
}

.reset-button {
    border-radius: 10%;
    color:white;
    background-color: rgb(227, 38, 28);
    float:right;
    margin:15px;
}

.reset-button-2 {
    border-radius: 10%;
    color:white;
    background-color: rgb(227, 38, 28);
    float: right;
    position: relative;
    bottom:20px;
}

#terms {
    height: 300px;
    width: 90%;
    overflow: scroll;
    margin:auto;
    border-style:dotted;
    padding:10px;
}

@media screen and (min-width:520px) and (max-width:1000px) {

    .forms {
        margin:10px auto;
        width:90%;
        padding:0;
    }

    .starter-image{
        height:150px;
        width:150px;
    }
    header {
        font-size:2.75rem;
    }
    #introduction {
        font-size: x-large;
    }

    #drinks {
        height:1800px;
    }

    #opening-hours {
        background-color: white;
        width: 90%;
        text-align: center;
        padding:0;
        margin:10px;
        position: relative;
        left:0;
        bottom:0;
        border-radius: 0;
    }
    
    #table {
        background-color: white;
        position: relative;
        left:50px;
    }
    
    #address {
        background-color: white;
        width:90%;
        text-align: center;
        padding: 0;
        margin: 10px;
        position:relative;
        left:0;
        top:0;
        border-radius: 0;
    }
    
    #get-in-touch {
        background-color: white;
        width: 90%;
        text-align: center;
        padding:0;
        margin:10px;
        position: relative;
        left:0;
        bottom:0;
        border-radius: 0;
    }

    #contact {
        height:850px;
    }

    #starters {
        height:1000px;
    }

    #spring-rolls {
        position: relative;
        right:0;
        
    }
    
    #ribs {
        position: relative;
        left:0;
        z-index: 0;
        bottom:0;
    }
    
    #gyoza {
        position: relative;
        left:0;
        z-index: 0;
        bottom:0;
    }
    
    #crispy-wontons {
        position: relative;
        right:0;
        
    }

    #ice-cream {
        height:200px;
        width:35%;
        position: relative;
        right:0;
        bottom:0;
    }

    img {
        width:200px;
        height:200px;
    }

    #reasons {
        text-align: center;
        background:red;
        padding: 0;
        border-radius:10px;
        width:90%;
        background-position: center;
        margin: 10px auto;
        line-height: normal;
    }

}

@media screen and (max-width:520px) {
    .forms {
        margin:10px auto;
        width:90%;
        padding:0;
    }

    .starter-image{
        height:100px;
        width:100px;
    }

    header {
        font-size:2rem;
    }

    #introduction {
        font-size: x-large;
    }

    #drinks {
        height:1800px;
    }

    #opening-hours {
        background-color: white;
        width: 90%;
        text-align: center;
        padding:0;
        margin:10px;
        position: relative;
        left:0;
        bottom:0;
        border-radius: 0;
    }
    
    #table {
        background-color: white;
        position: relative;
        left:50px;
    }
    
    #address {
        background-color: white;
        width:90%;
        text-align: center;
        padding: 0;
        margin: 10px;
        position:relative;
        left:0;
        top:0;
        border-radius: 0;
    }
    
    #get-in-touch {
        background-color: white;
        width: 90%;
        text-align: center;
        padding:0;
        margin:10px;
        position: relative;
        left:0;
        bottom:0;
        border-radius: 0;
    }

    #contact {
        height:850px;
    }

    #starters {
        height:1000px;
    }

    #spring-rolls {
        position: relative;
        right:0;
        
    }
    
    #ribs {
        position: relative;
        left:0;
        z-index: 0;
        bottom:0;
    }
    
    #gyoza {
        position: relative;
        left:0;
        z-index: 0;
        bottom:0;
    }
    
    #crispy-wontons {
        position: relative;
        right:0;
        
    }

    #ice-cream {
        height:100px;
        width:100px;
        position: relative;
        right:0;
        bottom:0;
    }

    img {
        width:100px;
        height:100px;
    }

    #reasons {
        text-align: center;
        background:red;
        padding: 0;
        border-radius:10px;
        width:90%;
        background-position: center;
        margin: 10px auto;
        line-height: normal;
    }
}