#hero-image {
    height:500px;
    width:100%;
    background:url('../images/hero-image.jpg') center center;
}

body{
    background-color: white;
}

header {
    font-size:300%;
    text-align: center;
    color:aliceblue;
}